
*{
  padding: 0; margin: 0; box-sizing: border-box; font-family: Poppins;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #FFFFFF;
}

h1 {
  font-weight: bolder !important;
  font-size: 2rem  !important;
}

h2{
  font-weight: bold !important;
  font-size: 1.5rem  !important;
}

a{
  text-decoration: none !important;
  color: #85888b;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  overflow-y: auto;
}

.header-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo-name {
  margin: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.header-logo-name a {
  color: black;
}

.home-section .container {
  justify-content: space-between;
  padding-top: 3rem;
}

.home-section .container img {
  width: 100%;
}

.main-view {
  margin: 0;
  overflow-y: auto;
}

.p-error{
  color: red;
}

.main-view p {
  color: #85888b;
}

.me-interesa {
  font-size: 40px;
}


.navbar{
  padding: 5px 30px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-item {
  margin: 5px 0;
}

.footer-copyright {
  color: #000000;
  font-size: 1rem;
  padding-top: 5rem;
  padding-bottom: 0.8rem;
  text-align: center;
  background-color: #F8F9FA;
}


@media (min-width: 768px) {

  p {
    font-size: 1rem;
  }

  .navbar-collapse {
      justify-content: flex-end;
  }

  .navbar li{
      padding: 0px 30px;
  }

  .home-section .container h1 {
    font-size: 3rem;
  }

  .home-section .container img {
    width: 40%;
  }

  .footer-copyright {
    font-size: 1.2rem;
  }

}



