/* Estilizacion segun principio MOBILE FIRST*/

$color-primary: #FFB627;
$color-secundary: #E2711D;
$color-text-primary: #000000;
$color-text-secundary: #85888b; 
$color-bg: #FFFFFF;
$font: 'Poppins', sans-serif;

$shadow-box: 0 2px 5px 0 rgba(0,0,0,0.1);

$breakpoint-movil: 768px;

$unit: 10px;

@function size($value){
    @return $value *  $unit;
}

*{
    padding: 0; margin: 0; box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $color-bg;
    font-family: $font;
}

header{
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    color: $color-text-secundary;
    &:hover{
        font-weight: bold;
    }
}

h1{
    font-weight: bolder;
    font-size: 2rem;
}

h2{
    font-weight: bold;
    font-size: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    overflow-y: auto;
}

.ingresar-style{
    padding: 3rem;
    h1{
        font-size: 1.8rem;
    }
    label{
        font-size: 1rem;
        font-weight: normal;
    }
    input{
        border-radius: 5px;
        border-width: thin;
        border-color: $color-text-secundary;
        border-style: solid;
        &::placeholder{
            color: $color-text-secundary;
            font-size: 15px;
            text-align: center;
        }
    }
    p{
        color: $color-text-secundary;  
        text-align: center;
    }
    a{
        color: $color-secundary;
        font-size: 12px;
        &:hover{
            font-weight: normal;
        }
    }
    button{
        width: 100%;
        margin-top: 12px;
        padding: 10px;
    }
}

.form-group{
    margin-bottom: 12px;
}

.form-check{
    margin-bottom: 12px;
}


.main-view{
    margin: 0;
    padding: 8rem 0;
    overflow-y: auto;
    text-align: center;
    p{
        color: $color-text-secundary;
    }
    .descripcion{
        text-align: start;
    }
    .icono{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.profile{
    img{
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
}

.navbar{
    padding: 5px 30px;
    box-shadow: $shadow-box;
    button{
        margin: 10px;
    }
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.group-logo-name{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-name{
    margin: 10px;
    font-weight: 700;
    font-size: 1.5rem;
}

#section-hero{
    .container{
        justify-content: space-between;
        img{
            width: 100%;
        }
    }
}

#section-sobre-nosotros{
    height: 80vh;
    padding-bottom: 100px;
    text-align: center;
    .container{
        h2{
            color: $color-primary;
            margin-bottom: 20px;
        }
    }
}

#section-contacto{
    text-align: center;
    .container{
        height: 40vh;
        h2{
            color: $color-primary;
            margin-bottom: 20px;
        }
        a:hover{
            color: $color-secundary;
        }
    }
    .copyright{
        color: $color-text-primary;
        font-size: 0.6rem;
        padding-top: 12rem;
        padding-bottom: 0.8rem;
        text-align: center;
    }
}

    /* ----- -----  Estilos para Validacion ----- ----- */
    .formulario__grupo-correcto .form-control {
        border: 2px solid #00ff11; 
    }

    .formulario__grupo-correcto .formulario__label{
        color: #23ac2c; 
    }

    .formulario__grupo-incorrecto .form-control {
        border: 3px solid #bb2929;
    }

    .formulario__grupo-incorrecto .formulario__label {
        color: #bb2929;
    }

    .formulario__input-error {
        display: none;
        font-size: 15px;
    }

    .formulario__input-error-activo{
        display: block;
        
    }
    .formulario__mensaje-exito {
        height: 45px;
        line-height: 45px;
        background: #0fda15;
        padding: 0 15px;
        border-radius: 10px;
        color: white !important;
        display: none;
        margin-top: 10px;
    }
    
    .formulario__mensaje-exito-activo {
        display: block;
    }

    
    .formulario__mensaje {
        height: 45px;
        line-height: 45px;
        background: #e01515;
        padding: 0 15px;
        border-radius: 10px;
        display: none;
        color: white !important;    
    }

    .formulario__mensaje-activo {
        display: block;
    }
/* RESPONSIVE DESIGN con breakpoint medium-movil*/
@media (min-width: $breakpoint-movil) {

    p{
        font-size: 1rem;
    }

    .navbar{
        button{
            font-size: 1rem;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar li{
        padding: 0px 20px;
    }

    #section-hero{
        .container{
            h1{
                font-size: 3rem;
            }
            img{
                width: 40%;
            }
            
        }  
    }

    #section-contacto .copyright{
        font-size: 0.8rem;
        text-align: end;
        padding-right: 10px;
    }

    .ingresar-style{
        min-height: 400px;
    }
    

}


